body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container {
    font-size: 10px;
    width: 150vh;
    height: 100vh;
    position: relative;
}
.sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth,.moon,.venus,.mercure{
    position: absolute;
    border-radius: 50%;
}
.earth {
    top: 4em;
    left: 4em;
    width: 32em;
    height: 32em; 
    animation: orbit 36.5s linear infinite;   
}
.moon {
    top: 25em;
    right: 2.6em;
    width: 8em;
    height: 8em; 
    animation: orbit 2.7s linear infinite;
}
.venus {
    top: 11em;
    left: 11em;
    width: 18em;
    height: 18em;
    animation: orbit 68.7s linear infinite;
}
.mercure {
    top: 16em;
    left: 16em;
    width: 8em;
    height: 8em;
    animation: orbit 16.5s linear infinite;
}
.earth::before,
.moon::before,
.venus::before, 
.mercure::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.earth::before {
    top: 27.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;    
}
.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
.venus::before {
    top: 1.5em;
    right: 1.5em;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(240, 181, 181);
}
.mercure::before {
    top: 7.5em;
    right: 13.5em;
    width: 1.8em;
    height: 1.8em;
    background-color: rgb(90, 90, 90);
}
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.planet-name {
    display: none;
    position: absolute;
    color: white;
    font-size: 1.2em;
}
.sun:hover::after,
.earth:hover::after,
.moon:hover::after,
.venus:hover::after,
.mercure:hover::after {
    content: attr(data-name);
    position: absolute;
    color: white;
    font-size: 1.2em;
    top: -1.5em; 
    left: 50%;
    transform: translateX(-50%);
}